body {
  font-weight: 200;
  font-size: 20px;
}

.parallax-background {
  background-image: url('images/workspace3.jpg');
  height: 620px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  #arrow {
    color: #FFF;
  }
}

.intro-text {
  font-size: 4em;
  color: #fff;
  text-align: center;
  margin-top: 7%;
}

.parallax-content {
  max-width: 100%;
  position: relative;
  top: 500px;
  padding: 50px;
  font-size: 20px;
  background-color: #fff;
    p {
      font-size: xx-large;
    }
    #connect {
      color: #0CBBC0;
    }
    ul {
      list-style-type: none;
      display: inline-flex;
      margin-top: 1%;
      width: 71%;
      margin-left: 18%;
    }
    h2 {
      color: #0CBBC0;
      margin-top: 2%;
    }
    .projectDescription {
      color: #CDDFDF;
    }
    .small-4.columns {
      margin-bottom: 3%;
      margin-top: 2%;
      #lingo {
        height: 12em;
      }
      #skate {
        height: 12em;
      }
    }
    #html5 {
      border-right: solid #0CBBC0 1px;
    }
    #css3 {
      border-right: solid #0CBBC0 1px;
      margin-left: 10%;
      max-width: 50%;
    }
    #javascript {
      max-width: 124%;
      margin-left: -70%;
    }
    #sass {
      max-width: 64%;
      margin-left: 52%;
      border-right: solid #0CBBC0 1px;
    }
    #foundation {
      max-width: 100%;
      margin-left: 50%;
      border-right: solid #0CBBC0 1px;
    }
    #bootstrap {
      max-width: 38%;
      margin-left: 24%;
    }
    #angular {
      max-width: 48%;
      margin-left: 10%;
      border-right: solid #0CBBC0 1px;
    }
    #gulp {
      margin-left: -40%;
      max-width: 47%;
      border-right: solid #0CBBC0 1px;
    }
    #node {
      margin-left: -138%;
      max-width: 65%;
    }
    .about {
      border-bottom: solid #0CBBC0 1px;
    }
    .myWork {
      border-bottom: solid #0CBBC0 1px;
    }
    #tech {
      border-bottom: solid #0CBBC0 1px;
      margin-bottom: 5%;
        ul.medium-block-grid-6 {
            margin-bottom: 5%;
        }
    }
}
