body * {
  font-family: 'Shadows Into Light', cursive;
}
// NAV //
$background-color: #292c2f;
$primary-color: #0CBBC0;

.row {
  max-width: 100%;
}

#navMenu {
  background-color: $background-color;
  padding: 2rem 3rem;
  height: 16%;

  .inline-list {
    text-align: center;

    li.navList {
      float: none;
      display: inline-block;
      color: #FFF;
      cursor: pointer;

      a {
        color: #FFF;
        padding-bottom: 0.5rem;

        &:hover {
          color: $primary-color;
          transition: all .3s ease-in-out;
        }
      #navIcons {
          max-width: 8%;
          color: #FFF;
      }
    }
  }
}
  .account {
    position: absolute;
    top: 3%;
    right: 3%;
  }
  .account-action {
    margin: -.75rem 0 0 1rem;
    a#email, a#resume {
      color: #FFF;
      font-size: 1.2em;
      &:hover {
        color: $primary-color;
        transition: all .3s ease-in-out;
      }
    }
  }
}

// FOOTER //
.footer {
  // font-family: 'Bungee', cursive;
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  p {
    &.slogan {
      color: #0CBBC0;
      font-size: 2.2rem;
      margin: 0 0 1rem;
    }
    &.links {
      margin-left: 2%;
      margin-top: 2%;
      }
    }
  }
  #emailFooter, #resumeFooter {
    color: #FFF;
    font-size: 1.2rem;
    &:hover {
      color: $primary-color;
      transition: all .3s ease-in-out;
    }
  }
  span {
    color: $primary-color;
  }
  .footerImg {
    max-width: 2%;
  }
  .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 0rem 0 1rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
      }
    }
