@charset "UTF-8";
@media only screen and (min-device-width: 320px) and (max-device-width: 675px) {
  .parallax-background #navMenu .account-action {
    margin: -.75rem 0 0 -4rem; }
  .parallax-background img#navIcons {
    max-width: 15%; }
  .parallax-background li.navList {
    width: 15%; }
  .parallax-background .intro-text {
    font-size: 5em; }
    .parallax-background .intro-text h2 {
      font-size: 3.5rem; }
  div.parallax-content {
    font-size: 14px; }
    div.parallax-content p {
      font-size: x-large; }
    div.parallax-content div#tech.row ul.medium-block-grid-6 {
      width: 92%;
      margin-left: 11%; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .parallax-background nav#navMenu.menu {
    padding: 2rem 7rem; }
  .parallax-background #navMenu .account-action {
    margin: -.75rem 0 0 -6rem; }
    .parallax-background #navMenu .account-action a#resume {
      font-size: x-large; }
    .parallax-background #navMenu .account-action li.navList {
      width: 19%; }
      .parallax-background #navMenu .account-action li.navList img#navIcons {
        max-width: 12%; }
    .parallax-background #navMenu .account-action li#email.navList {
      font-size: x-large; }
  .parallax-content div.image-wrapper.overlay-fade-in img#lingo {
    height: 10em; }
  .parallax-content div.image-wrapper.overlay-fade-in img#gridland {
    height: 10em; }
  .parallax-content div.image-wrapper.overlay-fade-in img#skate {
    height: 10em; }
  .parallax-content footer.footer {
    padding: 1rem; }
    .parallax-content footer.footer p.email {
      font-size: 1.4rem; }
    .parallax-content footer.footer img.footerImg {
      max-width: 3%; } }

body * {
  font-family: 'Shadows Into Light', cursive; }

.row {
  max-width: 100%; }

#navMenu {
  background-color: #292c2f;
  padding: 2rem 3rem;
  height: 12%; }
  #navMenu .inline-list {
    text-align: center; }
    #navMenu .inline-list li.navList {
      float: none;
      display: inline-block;
      color: #FFF; }
      #navMenu .inline-list li.navList a {
        color: #FFF;
        padding-bottom: 0.5rem; }
        #navMenu .inline-list li.navList a:hover {
          color: #0CBBC0;
          transition: all .3s ease-in-out; }
        #navMenu .inline-list li.navList a #navIcons {
          max-width: 8%;
          color: #FFF; }
  #navMenu .account {
    position: absolute;
    top: 3%;
    right: 3%; }
  #navMenu .account-action {
    margin: -.75rem 0 0 5rem; }

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer p.slogan {
    color: #0CBBC0;
    font-size: 2.2rem;
    margin: 0 0 1rem; }
  .footer p.email {
    color: #0CBBC0;
    font-size: 1.2rem; }
  .footer p.links {
    margin-left: 2%; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
  .footer .footerImg {
    max-width: 2%; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 0rem 0 1rem;
    margin: 0; }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }

.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 4px; }

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 28px;
  opacity: 0;
  transition: all 0.2s linear; }

.overlay-fade-in img {
  transition: all 0.2s linear; }

.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; }

.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  margin-top: 40%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }

.overlay-fade-in .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #0CBBC0;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;
  border-radius: 5%;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000;
    color: #FFF; }

.overlay-fade-in:hover img {
  transform: scale(1.2); }

.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }

.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1; }

.overlay-fade-in:hover p {
  transition-delay: 0.1s; }

.overlay-fade-in:hover .button {
  transition-delay: 0.2s; }

.overlay-slide-in-left img {
  transition: all 0.3s ease-in-out; }

.overlay-slide-in-left .image-overlay-content {
  background-image: url(http://www.awwwards.com/awards/images/2015/04/pattern.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-110%);
  opacity: 1;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 7px #ccc; }

.overlay-slide-in-left h2 {
  font-size: 1.8rem;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 40%;
  color: #000;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }

.overlay-slide-in-left p {
  opacity: 0;
  color: #333;
  transition: all 0.2s linear; }

.overlay-slide-in-left .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border-radius: 7px; }
  .overlay-slide-in-left .button:hover {
    background-color: #444; }

.overlay-slide-in-left:hover .image-overlay-content {
  transform: translateX(0px); }

.overlay-slide-in-left:hover img {
  transform: translateX(80%);
  transition-delay: 0.1s; }

.overlay-slide-in-left:hover p {
  opacity: 1;
  transition-delay: 0.4s; }

.overlay-fade-in-new-background .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
  position: relative;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .overlay-fade-in-new-background .button:hover {
    box-shadow: 0 0 5px #fff;
    background-color: #222; }

.overlay-fade-in-new-background p {
  font-size: 28px; }

.overlay-fade-in-new-background .image-overlay-content {
  opacity: 0;
  background-image: url(http://subtlepatterns.com/patterns/gplaypattern.png);
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out; }

.overlay-fade-in-new-background h2 {
  color: #000;
  font-size: 1.6rem;
  margin-top: 30%;
  opacity: 0;
  transition: all 0.2s ease-in-out; }

.overlay-fade-in-new-background p {
  opacity: 0;
  transition: all 0.2s linear; }

.overlay-fade-in-new-background img {
  transition: all 0.2s ease-in-out; }

.overlay-fade-in-new-background:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  transform: scale(1.5); }

.overlay-fade-in-new-background:hover .image-overlay-content {
  opacity: 1; }

.overlay-fade-in-new-background:hover h2, .overlay-fade-in-new-background p, .overlay-fade-in-new-background .button {
  opacity: 1; }

.overlay-fade-in-new-background:hover p {
  transition-delay: 0.1s; }

.overlay-fade-in-new-background:hover .button {
  transition-delay: 0.2s; }

body {
  font-weight: 200;
  font-size: 20px; }

.parallax-background {
  background-image: url("images/workspace3.jpg");
  height: 620px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%; }
  .parallax-background #arrow {
    color: #FFF; }

.intro-text {
  font-size: 4em;
  color: #fff;
  text-align: center;
  margin-top: 7%; }

.parallax-content {
  max-width: 100%;
  position: relative;
  top: 500px;
  padding: 50px;
  font-size: 20px;
  background-color: #fff; }
  .parallax-content p {
    font-size: xx-large; }
  .parallax-content #connect {
    color: #0CBBC0; }
  .parallax-content ul {
    list-style-type: none;
    display: inline-flex;
    margin-top: 1%;
    width: 71%;
    margin-left: 18%; }
  .parallax-content h2 {
    color: #0CBBC0;
    margin-top: 2%; }
  .parallax-content .projectDescription {
    color: #CDDFDF; }
  .parallax-content .small-4.columns {
    margin-bottom: 3%;
    margin-top: 2%; }
    .parallax-content .small-4.columns #lingo {
      height: 12em; }
    .parallax-content .small-4.columns #skate {
      height: 12em; }
  .parallax-content #html5 {
    border-right: solid #0CBBC0 1px; }
  .parallax-content #css3 {
    border-right: solid #0CBBC0 1px;
    margin-left: 10%;
    max-width: 50%; }
  .parallax-content #javascript {
    max-width: 124%;
    margin-left: -70%; }
  .parallax-content #sass {
    max-width: 64%;
    margin-left: 52%;
    border-right: solid #0CBBC0 1px; }
  .parallax-content #foundation {
    max-width: 100%;
    margin-left: 50%;
    border-right: solid #0CBBC0 1px; }
  .parallax-content #bootstrap {
    max-width: 38%;
    margin-left: 24%; }
  .parallax-content #angular {
    max-width: 48%;
    margin-left: 10%;
    border-right: solid #0CBBC0 1px; }
  .parallax-content #gulp {
    margin-left: -40%;
    max-width: 47%;
    border-right: solid #0CBBC0 1px; }
  .parallax-content #node {
    margin-left: -138%;
    max-width: 65%; }
  .parallax-content .about {
    border-bottom: solid #0CBBC0 1px; }
  .parallax-content .myWork {
    border-bottom: solid #0CBBC0 1px; }
  .parallax-content #tech {
    border-bottom: solid #0CBBC0 1px;
    margin-bottom: 5%; }
    .parallax-content #tech ul.medium-block-grid-6 {
      margin-bottom: 5%; }
