@charset "UTF-8";
@media only screen and (min-device-width: 320px) and (max-device-width: 675px) {
  div.parallax-background {
    height: 26em; }
    div.parallax-background nav#navMenu.menu {
      height: 16%; }
    div.parallax-background #navMenu .account-action {
      margin: -.75rem 0 0 0rem; }
      div.parallax-background #navMenu .account-action li.navList {
        font-size: 1.5em;
        width: 12%; }
        div.parallax-background #navMenu .account-action li.navList a #navIcons {
          max-width: 1em; }
        div.parallax-background #navMenu .account-action li.navList a#resume {
          font-size: 1em; }
        div.parallax-background #navMenu .account-action li.navList a #email {
          font-size: 1.1em; }
    div.parallax-background .intro-text {
      font-size: 4.8em; }
      div.parallax-background .intro-text h2 {
        font-size: 3.5rem; }
  div.parallax-content {
    font-size: 14px; }
    div.parallax-content h2 {
      font-size: 5em; }
    div.parallax-content h3 {
      font-size: 4em;
      text-align: center;
      font-weight: bold;
      color: #0CBBC0; }
    div.parallax-content p.aboutMe {
      font-size: 2.8em; }
    div.parallax-content p.projectDescriptions {
      font-size: 2.8em; }
    div.parallax-content .myWork {
      margin-top: 6%; }
    div.parallax-content .small-4.columns {
      width: 98%; }
      div.parallax-content .small-4.columns #lingo {
        width: 100%;
        height: 27em; }
      div.parallax-content .small-4.columns #gridland {
        width: 100%;
        height: 27em; }
      div.parallax-content .small-4.columns #skate {
        width: 100%;
        height: 27em; }
    div.parallax-content div#tech.row ul.medium-block-grid-6 {
      width: 92%;
      margin-left: 13%;
      margin-top: 5%; }
      div.parallax-content div#tech.row ul.medium-block-grid-6 #html5 {
        max-width: 5em;
        border-right: none; }
      div.parallax-content div#tech.row ul.medium-block-grid-6 #css3 {
        max-width: 3.7em;
        border-right: none; }
      div.parallax-content div#tech.row ul.medium-block-grid-6 #javascript {
        max-width: 3.6em;
        margin-left: 37%; }
      div.parallax-content div#tech.row ul.medium-block-grid-6 #sass {
        max-width: 5em;
        margin-top: 18%;
        border-right: none; }
      div.parallax-content div#tech.row ul.medium-block-grid-6 #foundation {
        max-width: 5em;
        margin-left: 68%;
        border-right: none; }
      div.parallax-content div#tech.row ul.medium-block-grid-6 #bootstrap {
        max-width: 5em;
        margin-left: 81%; }
      div.parallax-content div#tech.row ul.medium-block-grid-6 #angular {
        border-right: none;
        margin-left: 95%;
        max-width: 5em; }
      div.parallax-content div#tech.row ul.medium-block-grid-6 #gulp {
        border-right: none;
        max-width: 6em;
        margin-left: 66%; }
      div.parallax-content div#tech.row ul.medium-block-grid-6 #node {
        max-width: 6em;
        margin-left: 40%; }
    div.parallax-content .footer {
      padding: 1rem; }
      div.parallax-content .footer p.slogan {
        font-size: 2.5rem; }
      div.parallax-content .footer p.links {
        margin-top: 3%; }
      div.parallax-content .footer a#resumeFooter {
        font-size: 1.8rem; }
      div.parallax-content .footer a#emailFooter {
        font-size: 1.8rem; }
      div.parallax-content .footer .footerImg {
        max-width: 1.3em; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .parallax-background nav#navMenu.menu {
    padding: 2rem 7rem; }
  .parallax-background #navMenu .account-action {
    margin: -.75rem 0 0 -6rem; }
    .parallax-background #navMenu .account-action a#resume {
      font-size: x-large; }
    .parallax-background #navMenu .account-action li.navList {
      width: 19%; }
      .parallax-background #navMenu .account-action li.navList img#navIcons {
        max-width: 12%; }
    .parallax-background #navMenu .account-action li#email.navList {
      font-size: x-large; }
  .parallax-content div.image-wrapper.overlay-fade-in img#lingo {
    height: 10em; }
  .parallax-content div.image-wrapper.overlay-fade-in img#gridland {
    height: 10em; }
  .parallax-content div.image-wrapper.overlay-fade-in img#skate {
    height: 10em; }
  .parallax-content footer.footer {
    padding: 1rem; }
    .parallax-content footer.footer p.email {
      font-size: 1.4rem; }
    .parallax-content footer.footer img.footerImg {
      max-width: 3%; } }

body * {
  font-family: 'Shadows Into Light', cursive; }

.row {
  max-width: 100%; }

#navMenu {
  background-color: #292c2f;
  padding: 2rem 3rem;
  height: 16%; }
  #navMenu .inline-list {
    text-align: center; }
    #navMenu .inline-list li.navList {
      float: none;
      display: inline-block;
      color: #FFF;
      cursor: pointer; }
      #navMenu .inline-list li.navList a {
        color: #FFF;
        padding-bottom: 0.5rem; }
        #navMenu .inline-list li.navList a:hover {
          color: #0CBBC0;
          transition: all .3s ease-in-out; }
        #navMenu .inline-list li.navList a #navIcons {
          max-width: 8%;
          color: #FFF; }
  #navMenu .account {
    position: absolute;
    top: 3%;
    right: 3%; }
  #navMenu .account-action {
    margin: -.75rem 0 0 1rem; }
    #navMenu .account-action a#email, #navMenu .account-action a#resume {
      color: #FFF;
      font-size: 1.2em; }
      #navMenu .account-action a#email:hover, #navMenu .account-action a#resume:hover {
        color: #0CBBC0;
        transition: all .3s ease-in-out; }

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer p.slogan {
    color: #0CBBC0;
    font-size: 2.2rem;
    margin: 0 0 1rem; }
  .footer p.links {
    margin-left: 2%;
    margin-top: 2%; }

#emailFooter, #resumeFooter {
  color: #FFF;
  font-size: 1.2rem; }
  #emailFooter:hover, #resumeFooter:hover {
    color: #0CBBC0;
    transition: all .3s ease-in-out; }

span {
  color: #0CBBC0; }

.footerImg {
  max-width: 2%; }

.links a {
  list-style: none;
  font-weight: bold;
  color: #ffffff;
  padding: 0rem 0 1rem;
  margin: 0; }
  .links a::after {
    content: "•";
    padding: 0 0.4rem 0 0.8rem; }
  .links a:last-child::after {
    content: "";
    padding: 0 0.4rem 0 0.8rem; }

h3 {
  text-align: center;
  font-weight: bold;
  color: #0CBBC0; }

.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.43); }

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 28px;
  opacity: 0;
  transition: all 0.2s linear; }

.overlay-fade-in img {
  transition: all 0.2s linear; }

.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; }

.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  margin-top: 40%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }

.overlay-fade-in .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #0CBBC0;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;
  border-radius: 5%;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000;
    color: #FFF; }

.overlay-fade-in:hover img {
  transform: scale(1.2); }

.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }

.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1; }

.overlay-fade-in:hover p {
  transition-delay: 0.1s; }

.overlay-fade-in:hover .button {
  transition-delay: 0.2s; }

p.projectDescriptions {
  margin-top: 5%;
  font-size: 1.2em; }

body {
  font-weight: 200;
  font-size: 20px; }

.parallax-background {
  background-image: url("images/workspace3.jpg");
  height: 23em;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%; }
  .parallax-background #arrow {
    color: #FFF; }

.intro-text {
  font-size: 4em;
  color: #fff;
  text-align: center;
  margin-top: 7%; }

.parallax-content {
  max-width: 100%;
  position: relative;
  top: 23em;
  padding: 3%;
  font-size: 20px;
  background-color: #fff;
  /* The Magic */
  /* Aesthetic */ }
  .parallax-content p.projectDescription {
    font-size: xx-large; }
  .parallax-content p.aboutMe {
    font-size: xx-large; }
  .parallax-content #connect {
    color: #0CBBC0; }
  .parallax-content ul {
    list-style-type: none;
    display: inline-flex;
    margin-top: 1%;
    width: 71%;
    margin-left: 18%; }
  .parallax-content h2 {
    color: #0CBBC0;
    margin-top: 2%; }
  .parallax-content h1 {
    color: #0CBBC0;
    margin-top: -2%; }
  .parallax-content .projectDescription {
    color: #CDDFDF; }
  .parallax-content .small-4.columns {
    margin-bottom: 3%;
    margin-top: 2%; }
    .parallax-content .small-4.columns #projectName {
      margin-top: 3%; }
    .parallax-content .small-4.columns #lingo {
      height: 12em; }
    .parallax-content .small-4.columns #gridland {
      height: 12em; }
    .parallax-content .small-4.columns #skate {
      height: 12em; }
  .parallax-content #html5 {
    border-right: solid #0CBBC0 1px; }
  .parallax-content #css3 {
    border-right: solid #0CBBC0 1px;
    margin-left: 10%;
    max-width: 50%; }
  .parallax-content #javascript {
    max-width: 124%;
    margin-left: -70%; }
  .parallax-content #sass {
    max-width: 64%;
    margin-left: 52%;
    border-right: solid #0CBBC0 1px; }
  .parallax-content #foundation {
    max-width: 100%;
    margin-left: 50%;
    border-right: solid #0CBBC0 1px; }
  .parallax-content #bootstrap {
    max-width: 38%;
    margin-left: 24%; }
  .parallax-content #angular {
    max-width: 48%;
    margin-left: 10%;
    border-right: solid #0CBBC0 1px; }
  .parallax-content #gulp {
    margin-left: -40%;
    max-width: 47%;
    border-right: solid #0CBBC0 1px; }
  .parallax-content #node {
    margin-left: -138%;
    max-width: 65%; }
  .parallax-content .about {
    border-bottom: solid #0CBBC0 1px; }
  .parallax-content .myWork {
    border-bottom: solid #0CBBC0 1px; }
  .parallax-content #tech {
    border-bottom: solid #0CBBC0 1px;
    margin-bottom: 5%; }
    .parallax-content #tech ul.medium-block-grid-6 {
      margin-bottom: 5%; }
  .parallax-content .accordion .accordion-item--default .accordion-item-content,
  .parallax-content .accordion:hover .accordion-item:hover .accordion-item-content {
    height: 5em; }
  .parallax-content .accordion-item-content,
  .parallax-content .accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s; }
  .parallax-content .accordion {
    padding: 0;
    margin: 2% 0% 3% 0%;
    width: 100%;
    border: solid #0CBBC0 1px;
    background-color: #FFF; }
    .parallax-content .accordion h4 {
      margin: 0;
      color: #0CBBC0; }
    .parallax-content .accordion .accordion-item {
      border-bottom: 1px solid #0CBBC0;
      padding: 1em;
      color: #292c2f; }
